.container{
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 600px;
 
}

.resultScreen{
    
    padding: 5px;
    position: relative;
    text-align: right;
    height: 100px;
   
    > div{
        position: absolute;
        bottom: 10px ;
        right: 10px;  
    } 
    
    
   
    
}

.btn{
    cursor: pointer;
    display: flex;
    > div{
       
        padding: 1px;
        
        text-align: center;
        width: 200px;
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            border: 1px solid blue;
            
        }
    }
   
}
