.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    > form {
        border-top: 1px solid #e08c0e;
        .timer {
            font-size: 50px;
            text-align: center;
        }

        .btnContainer{
            display: flex;
            > button {
                margin: 10px;
                width: 100%;
                height: 40px;
                font-size: 25px;
                background-color: wheat;
                border: #0a8062;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
    
}