.container{
    border: 2px solid goldenrod; 
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%px;
}

.top{
    color: darkmagenta;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 60px;    
}

.mid{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        > span{
            margin: 65px;
            font-size: 30px;
            font-weight: 500;
            
            }
        }
}

.bot{
    > input{
        margin: 20px;
        height: 40px;
        width: 190px;
    }
}