.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    border: 1px solid yellow;
    padding: 50px;
    box-shadow: 10px 10px 8px 10px rgb(146, 136, 136);

    > div:first-child {
        width: 500px;
        text-align: right;
        height: 50px;
        

    }
    
    > div{
        cursor: pointer;
        width: 109px;
        margin: 2px;
        border: 1px solid red;
        border-radius: 5px;
        padding: 5px;
    }

    .btnZero{
        cursor: pointer;
        width: 234px;
    }
}