/* .App {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}


.converter{
  border: 1px solid grey;
  padding: 20px;
  width: auto;
  height: 100px;
  text-align: center;
  box-shadow: 10px 5px 5px blueviolet;
  

}

span{
  margin-top: 19px;
} */

.App{
  align-items: center;
  justify-content: center;
}