.container{
    margin-top: 30px;
    background-color: black;
    width: 600px;
    border-radius: 24px;
    height: 420px;
}

.top{
    display: flex;
    justify-content: center;
    color: rgb(59, 145, 202);
    font-size: 60px;
    margin-left: 12px;
}

.mid{
    background-color: white;
    color: red;
    width: 560px;
    margin: 0 20px 12px 20px;
    border-radius: 6px;
    height: 60%;
    > ul{        
        list-style-type: none;
        margin: 5px 0px 0px -40px;
        > li{      
            display: flex;
            align-items: center;      
            padding: 6px 10px 0px 20px;
            margin: 5px 0px 16px -5px;
        }
        > hr{
            width: 558px;
            display: flex;
            float: left;
            margin-block-start: 0;
        }    
    } 
} 


.bot{   
    color: rgb(165, 33, 147);    
    margin: 15px 20px 0 20px;
    border-radius: 3px;
    height: 48px;
    display: flex;
    > input{
       width: 86%;
       border-radius: 6px;
       border: none;
    }
    > button{
        position: relative;
        margin-left: 6px;
        width: 14%;
        border-radius: 1rem;
        cursor: pointer;  
        color: #1d0707;
        border: none;  
                      
    } 
    > button:hover{
        color: #df47d7ec;
        background-image: radial-gradient(circle farthest-corner at 20% 25%, rgba(3,159,222,5) 20%, rgba(2,224,226,5) 100%);
        transform-origin: left ;
        transition: 500ms;
        transition-duration: 0.7;

        
    } 
    
    
    
}



